.navbar-collapse {
    text-align: center;
}

.form-group > label > span {
    font-weight: bold;
}
ul#admin > li {
    display: inline;
}
ul#admin {
    display: inline-flex;
    margin-inline: auto;
}